.fiche {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 450px;
  margin: 20px auto;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.heading {
  text-align: center;
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
}

.details p {
  margin: 10px 0;
  font-size: 16px;
}

.type {
  position: absolute;
  font-size: 12px;
  opacity: 0.3;
  top: 5px;
  right: 5px;
  text-transform: uppercase;
}

.people {
  color: blue;
}

.planets {
  color: green;
}

.starships {
  color: red;
}

.species {
  color: yellow;
}

.vehicles {
  color: purple;
}
