.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 4vw;
  margin-top: 10vh;
}

@media (max-width: 1024px) {
  .title {
    font-size: 6vw;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 8vw;
  }
}
