.goBackButton {
  display: block;
  margin: 20px auto 0px auto;
  padding: 10px 20px;
  background-color: #feda4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
